const noBtn = document.getElementById("noBtn");
const yesBtn = document.getElementById("yesBtn");
const question = document.getElementById("question");
const result = document.getElementById("result");
const buttons = document.querySelector(".buttons");

// Move the No button when hovered
function moveNo() {
    const maxX = buttons.clientWidth - noBtn.offsetWidth;
    const randomX = Math.random() * maxX;
    noBtn.style.left = randomX + "px";
}

yesBtn.addEventListener("click", () => {
    // hide question and buttons
    question.style.display = "none";
    buttons.style.display = "none";

    // show result
    result.classList.remove("hidden");
});
